.bspLayoutManager {
    --bsp-bg-color: #bdbdbd;
    --bsp-border-color: #9a9a9a;
    --bsp-frame-bg-color: #ebebeb;
    --bsp-frame-gap: 1px;

    background: var(--bsp-frame-bg-color);
    border: #e27d05 solid 1px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.bspLayoutManager .frame-container {
    position: absolute;
    top: var(--bsp-frame-gap);
    left: var(--bsp-frame-gap);
    width: calc(100% - 2 * var(--bsp-frame-gap));
    height: calc(100% - 2 * var(--bsp-frame-gap));
    z-index: 1;
}

.bspLayoutManager .frame-container .frame {
    position: absolute;
    background: var(--bsp-bg-color);
    margin: var(--bsp-frame-gap);
    border: var(--bsp-border-color) solid 1px;
    border-radius: 5px;
    display: block;
}

.bspLayoutManager .frame-container .frame::before {
    content: "";
    position: absolute;
    width: calc(100% - 26px);
    height: calc(100% + 2px);
    top: -1px;
    left: 13px;
    cursor: row-resize;
    z-index: 1;
}

.bspLayoutManager .frame-container .frame::after {
    content: "";
    position: absolute;
    height: calc(100% - 26px);
    width: calc(100% + 2px);
    top: 13px;
    left: -1px;
    cursor: col-resize;
    z-index: 1;
}

.bspLayoutManager .frame-container .frame .handler {
    position: absolute;
    width: 12px;
    height: 12px;
    left: -1px;
    top: -1px;
    z-index: 10;
}

.bspLayoutManager .frame-container .frame .handler > * {
    cursor: crosshair;
}

.bspLayoutManager .frame-container .frame .container {
    position: absolute;
    background: var(--bsp-frame-bg-color);
    border: var(--bsp-border-color) solid 1px;
    border-radius: 5px;
    top: var(--bsp-frame-gap);
    left: var(--bsp-frame-gap);
    width: calc(100% - 4 * var(--bsp-frame-gap));
    height: calc(100% - 4 * var(--bsp-frame-gap));
    z-index: 3;

    overflow: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.bspLayoutManager .frame-container .frame .container::-webkit-scrollbar {
    display: none;
}

.bspLayoutManager .frame-container .frame .container.empty {
    background: url("../images/empty.png") no-repeat center;
    background-size: auto;
}

.bspLayoutManager .frame-container .frame .footer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.bspLayoutManager .frame-container .frame .footer .merge-arrow {
    width: 100%;
    height: 100%;
    background: #1377c514;
}

.bspLayoutManager .frame-container .frame .footer .merge-arrow img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;

}

.bspLayoutManager .frame-container .frame .footer .merge-arrow {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1377c514;
}

.bspLayoutManager .frame-container .frame .footer .merge-arrow img.up-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-100%);
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
}

.bspLayoutManager .frame-container .frame .footer .merge-arrow img.down-arrow {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bspLayoutManager .frame-container .frame .footer .merge-arrow img.right-arrow {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bspLayoutManager .frame-container .frame .footer .merge-arrow img.left-arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    -moz-transform: translateX(-100%) translateY(-50%);
    -webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
}

.invisible {
    display: none;
}

.fillView {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.center-content-vertically {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-content-horizontally {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

